# ================= ENV =================
.env
*.env

# ================= DATA =================
data.json
sessions.json

# ================= CACHE =================
__pycache__/
*.pyc
*.pyo
*.pyd

# ================= LOGS =================
*.log

# ================= VENV =================
venv/
.env/

# ================= IDE =================
.vscode/
.idea/

# ================= OS =================
.DS_Store
Thumbs.db
